hi
{% extends "CreateRule/Rule.html" %}
{% block body_block %}
<div class="container ">
  <div class="jumbotron jumbo">
    <h1>Welcome to the Ruled Engine !</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
        <h3> <a href="">Create Rule</a> </h3>
    {% else %}
        <h2>Register or Login if you'd like to create Rules</h2>
      <h3><a href="{% url 'CreateRule:create_rule' %}"> Create Rule</a> </h3>
      <h3><a href="{% url 'CreateRule:see_rules' %}">See Rules</a> </h3>
      <h3><a href="{% url 'CreateRule:upload_file' %}">Testing</a></h3>
    {% endif %}
  </div>
</div>
{% endblock %}
